<div class="container mt-3">
  <div class="row">
    <div class="home col d-flex flex-column justify-content-center">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/736x/d9/b1/a1/d9b1a1416f466987cc2491c8ce5f83a3.jpg); height: 200px; border-radius: 32px;">
        <div class="container">
          <h1 style="color: white" class="mt-4 ms-4">Find the plant of your dreams</h1>
          <a class="btn-green" href="#">Discover</a>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-12">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <% @plants.each do |plant| %>
              <div class="col d-flex justify-content-center">
                <div class="card shadow h-100 w-100" style="border-radius: 32px; max-width: 300px;">
                  <div class="card-img-container" style="height: 250px; padding: 1rem;">
                    <%= image_tag plant.image, alt: plant.name, class: "w-100 h-100 object-fit-cover", style: "border-radius: 22px;" %>
                  </div>
                  <div class="card-body position-relative pb-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h5 class="card-title mb-0"><%= plant.name %></h5>
                      <span class="price-text"><%= plant.price_per_day.to_i %>€</span>
                    </div>
                    <%= link_to "See more", plant_path(plant), class: "btn-green position-absolute bottom-0 end-0 me-3 mb-3" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
