.btn-green {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #63e875 !important;
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: #4D04C4 !important;
    color: white !important;
    text-decoration: none;
  }
}
